<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confluent: Fraud Detection</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?v=3">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet/leaflet.css') }}?v=3">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v=3">
  
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- JS -->
  <script src="{{ url_for('static', filename='js/socket.io.min.js') }}?v=3"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=3"></script>
  <script src="{{ url_for('static', filename='js/leaflet.js') }}?v=3"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?v=3"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}?v=3"></script>
</head>
<body>
  <div class="container-fluid full-height">
    <div class="row h-100">
      <!-- Sidebar -->
      <div class="col-md-4 bg-dark border-end d-flex flex-column" style="height: 100vh;">
        <!-- Header Bar -->
        <div class="bg-dark text-white p-1 d-flex justify-content-between align-items-center shadow-sm">
          <strong><i class="bi bi-shield-lock-fill me-2 text-nowrap"></i>Real-Time Fraud Detection</strong>
          <span id="ws_status" class="badge"><i class="bi bi-circle-fill me-1"></i>...</span>
        </div>

        <!-- User Select -->
        <div class="px-1 pt-2 d-flex align-items-center gap-2">
            <label for="userIdSelect" class="small mb-0 text-white text-nowrap">Select User:</label>
            <select class="form-select form-select-sm flex-grow-1 bg-secondary-subtle" id="userIdSelect">
            {% for user_id, user_name in users.items() %}
                <option value="{{ user_id }}">{{ user_id }}: {{ user_name }}</option>
            {% endfor %}
            </select>
        </div>

        <!-- Logs Box -->
        <div class="px-0 pb-1 pt-2 h-100 overflow-auto">
          <div class="bg-black p-2 h-100 rounded overflow-auto shadow-sm border border-secondary-subtle" id="logs">
            <!-- Logs appear here -->
          </div>
        </div>
      </div>

      <!-- Map Area -->
      <div class="col-md-8 p-0">
        <div id="map"></div>
      </div>
    </div>
  </div>
</body>
</html>